
	#v_reply_button {
		
		width: 86px;
		height: 29px;
		
		background-image: url(../img/btn_02.png);
		
		cursor: pointer;
		
	}
	
	#v_reply_button:hover {
		
		background-image: url(../img/btn_02_hover.png);
		
	}
	
	#v_popup {
		
		display: none;
		
		z-index: 9999999999999999;
		position: absolute;
		
		left: calc(50% - 175px);
		top: 100px;
		width: 350px;
		height: 300px;
		
		border-radius: 5px;
		border: 1px solid #A8ABAB;
		background-color: white;
		box-shadow: 0px 0px 50px 0px #888;
		
		text-align: center;
	
	}
	
	#v_logo {
		
		width: 100px;
		margin-top: 65px;
		
		cursor: pointer;
		
	}
	
	#v_recording {
		
		margin: 10px 0px 5px;
		
		font-size: 20px;
		color: rgba(0,0,0,0.75);
	
	}
	
	#v_tip {
		
		color: #23A194;
		font-size: 14px;
	
	}
	
	#v_cancel_button {
		
		margin-top: 51px;
		
		color: #8F8F8F;
		font-size: 14px;
		cursor: pointer;
	
	}
	
	#v_popup_sending {
		display: none;
	}
	
	#v_spinner {
		
		width: 100px;
		margin-top: 65px;
		
	}
	
	#v_sending {
		
		margin: 10px 0px 5px;
		
		font-size: 20px;
		color: rgba(0,0,0,0.75);
		
	}
	
	
	
	
	
	
	
	