
	<div id = "peppermint_elements_container" >

		<div id = 'peppermint_mini_popup' >
			<div class = 'player' id = 'peppermint_mini_popup_player' ></div>
		</div>
		<div id = 'peppermint_popup' >
			<div id = 'audio_visualizer' ></div>
			<div class = 'player'	id = 'peppermint_popup_player'	></div>
			<div class = 'timer'	id = 'peppermint_timer'			></div>
		</div>
		<div id = 'peppermint_button_inserter' ></div>
		<div id = 'peppermint_tooltip' class = 'button' ></div>
		<div id = 'peppermint_tooltip_top' class = 'top' ></div>

	<div>