  <div id="peppermint_template_{{RECORDING_ID}}">

    <table class="body" alt="peppermint_email" style="border-collapse: collapse; border-spacing: 0; color: #222222; font-family: Helvetica, Arial, sans-serif; font-size: 14px; font-weight: normal; height: 100%; line-height: 19px; margin: 0; padding: 0; text-align: left; vertical-align: top; width: 100%;">
      <tbody>
        <tr style="padding: 0; text-align: left; vertical-align: top;">
          <td class="center" align="center" valign="top" style="-moz-hyphens: none; -webkit-hyphens: none; border-collapse: collapse !important; color: #222222; font-family: Helvetica, Arial, sans-serif; font-size: 14px; font-weight: normal; hyphens: none; line-height: 19px; margin: 0; padding: 0; text-align: center; vertical-align: top; word-wrap: break-word;">
            <table class="container" style="border-collapse: collapse; border-spacing: 0; margin: 10px 0 10px 10px; padding: 0; text-align: inherit; vertical-align: top; width: 580px;">
              <tbody>
                <tr style="padding: 0; text-align: left; vertical-align: top;">
                  <td style="-moz-hyphens: none; -webkit-hyphens: none; border-collapse: collapse !important; color: #222222; font-family: Helvetica, Arial, sans-serif; font-size: 14px; font-weight: normal; hyphens: none; line-height: 19px; margin: 0; padding: 0; text-align: left; vertical-align: top; word-wrap: break-word;">
                    <!--Hiden url-->
                    <table cellspacing="0" class="row" style="border-collapse: collapse; border-spacing: 0; display: block; padding: 0px; position: relative; text-align: left; vertical-align: top; width: 100%;">
                      <tbody>
                        <tr style="padding: 0; text-align: left; vertical-align: top;">
                          <td class="wrapper" style="-moz-hyphens: none; -webkit-hyphens: none; border-collapse: collapse !important; color: #222222; font-family: Helvetica, Arial, sans-serif; font-size: 14px; font-weight: normal; hyphens: none; line-height: 19px; margin: 0; padding: 0; position: relative; text-align: left; vertical-align: top; word-wrap: break-word;">
                            <span alt="long_url" title="{{LONG_URL}}"></span>
                            <span alt="short_url" title="{{SHORT_URL}}"></span>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <!--Hiden url ends-->
                    <table class="row" style="border-collapse: collapse; border-spacing: 0; display: block; padding: 0px; position: relative; text-align: left; vertical-align: top; width: 100%;">
                      <tbody>
                        <tr style="padding: 0; text-align: left; vertical-align: top;">
                          <td class="wrapper last" style="-moz-hyphens: none; -webkit-hyphens: none; border-collapse: collapse !important; color: #222222; font-family: Helvetica, Arial, sans-serif; font-size: 14px; font-weight: normal; hyphens: none; line-height: 19px; margin: 0; padding: 10px 20px 0px 0px; padding-right: 0px; position: relative; text-align: left; vertical-align: top; word-wrap: break-word;">
                            <table class="twelve columns" style="border-collapse: collapse; border-spacing: 0; margin: 0 auto 0 0; padding: 0; text-align: left; vertical-align: top; width: 580px;">
                              <tbody>
                                <tr style="padding: 0; text-align: left; vertical-align: top;">
                                  <td style="-moz-hyphens: none; -webkit-hyphens: none; border-collapse: collapse !important; color: #222222; font-family: Helvetica, Arial, sans-serif; font-size: 14px; font-weight: normal; hyphens: none; line-height: 19px; margin: 0; padding: 0px 0px 5px; text-align: left; vertical-align: top; word-wrap: break-word;">
                                    <h1 class="title" style="color: #333333; font-family: Helvetica, Arial, sans-serif; font-size: 18px; font-weight: normal; line-height: 1.3; margin: 0; padding: 0; text-align: left; word-break: normal;">Here’s my message.</h1>
                                  </td>
                                  <td class="expander" style="-moz-hyphens: none; -webkit-hyphens: none; border-collapse: collapse !important; color: #222222; font-family: Helvetica, Arial, sans-serif; font-size: 14px; font-weight: normal; hyphens: none; line-height: 19px; margin: 0; padding: 0 !important; text-align: left; vertical-align: top; visibility: hidden; width: 0px; word-wrap: break-word;"></td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>

                    <table class="row" alt="controls" style="border-collapse: collapse; border-spacing: 0; display: block; padding: 0px; position: relative; text-align: left; vertical-align: top; width: 100%;">
                      <tbody>
                        <tr style="padding: 0; text-align: left; vertical-align: top;">
                          <td class="wrapper padding-adjust" style="-moz-hyphens: none; -webkit-hyphens: none; border-collapse: collapse !important; color: #222222; font-family: Helvetica, Arial, sans-serif; font-size: 14px; font-weight: normal; hyphens: none; line-height: 19px; margin: 0; padding: 5px 20px 0px 0px; padding-right: 40px; position: relative; text-align: left; vertical-align: top; word-wrap: break-word;">
                            <table class="three columns" style="border-collapse: collapse; border-spacing: 0; margin: 0 auto 0 0; padding: 0; text-align: left; vertical-align: top; width: 130px;">
                              <tbody>
                                <tr style="padding: 0; text-align: left; vertical-align: top;">
                                  <td style="-moz-hyphens: none; -webkit-hyphens: none; border-collapse: collapse !important; color: #222222; font-family: Helvetica, Arial, sans-serif; font-size: 14px; font-weight: normal; hyphens: none; line-height: 19px; margin: 0; padding: 0px 0px 5px; text-align: left; vertical-align: top; word-wrap: break-word;">
                                    <img src="http://dev.peppermint.com/img/play@2x.png" class="img" style="-ms-interpolation-mode: bicubic; clear: both; display: block; float: left; max-width: 100%; outline: none; padding-top: 3px; text-decoration: none; width: 20px;">
                                    <p class="link-wrap" style="color: #222222; font-family: Helvetica, Arial, sans-serif; font-size: 14px; font-weight: normal; line-height: 28px; margin: 0; margin-bottom: 10px; padding: 0; text-align: left;"><a href="{{SHORT_URL}}" class="play-link" style="color: #27a9ce !important; font-size: 14px !important; padding-left: 5px;">Click to Play</a></p>
                                  </td>
                                  <td class="expander" style="-moz-hyphens: none; -webkit-hyphens: none; border-collapse: collapse !important; color: #222222; font-family: Helvetica, Arial, sans-serif; font-size: 14px; font-weight: normal; hyphens: none; line-height: 19px; margin: 0; padding: 0 !important; text-align: left; vertical-align: top; visibility: hidden; width: 0px; word-wrap: break-word;"></td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                          <td class="wrapper last padding-adjust" style="-moz-hyphens: none; -webkit-hyphens: none; border-collapse: collapse !important; color: #222222; font-family: Helvetica, Arial, sans-serif; font-size: 14px; font-weight: normal; hyphens: none; line-height: 19px; margin: 0; padding: 5px 20px 0px 0px; padding-right: 0px; position: relative; text-align: left; vertical-align: top; word-wrap: break-word;">
                            <table class="three columns" style="border-collapse: collapse; border-spacing: 0; margin: 0 auto 0 0; padding: 0; text-align: left; vertical-align: top; width: 130px;">
                              <tbody>
                                <tr style="padding: 0; text-align: left; vertical-align: top;">
                                  <td style="-moz-hyphens: none; -webkit-hyphens: none; border-collapse: collapse !important; color: #222222; font-family: Helvetica, Arial, sans-serif; font-size: 14px; font-weight: normal; hyphens: none; line-height: 19px; margin: 0; padding: 0px 0px 5px; text-align: left; vertical-align: top; word-wrap: break-word;">
                                    <img src="http://dev.peppermint.com/img/reply@2x.png" class="img-2" style="-ms-interpolation-mode: bicubic; clear: both; display: block; float: left; max-width: 100%; outline: none; padding-top: 1px; text-decoration: none; width: 18px;">
                                    <p class="link-wrap" style="color: #222222; font-family: Helvetica, Arial, sans-serif; font-size: 14px; font-weight: normal; line-height: 28px; margin: 0; margin-bottom: 10px; padding: 0; text-align: left;"><a href="https://peppermint.com/reply?name={{SENDER_NAME}}&amp;amp;email={{SENDER_EMAIL}}" class="play-link" style="color: #27a9ce !important; font-size: 14px !important; padding-left: 5px;">Reply</a></p>
                                  </td>
                                  <td class="expander" style="-moz-hyphens: none; -webkit-hyphens: none; border-collapse: collapse !important; color: #222222; font-family: Helvetica, Arial, sans-serif; font-size: 14px; font-weight: normal; hyphens: none; line-height: 19px; margin: 0; padding: 0 !important; text-align: left; vertical-align: top; visibility: hidden; width: 0px; word-wrap: break-word;"></td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>

                    <table class="row" style="border-collapse: collapse; border-spacing: 0; display: block; padding: 0px; position: relative; text-align: left; vertical-align: top; width: 100%;">
                      <tbody>
                        <tr style="padding: 0; text-align: left; vertical-align: top;">
                          <td class="wrapper padding-adjust" style="-moz-hyphens: none; -webkit-hyphens: none; border-collapse: collapse !important; color: #222222; font-family: Helvetica, Arial, sans-serif; font-size: 14px; font-weight: normal; hyphens: none; line-height: 19px; margin: 0; padding: 5px 20px 0px 0px; padding-right: 40px; position: relative; text-align: left; vertical-align: top; word-wrap: break-word;">
                            <table class="three columns" style="border-collapse: collapse; border-spacing: 0; margin: 0 auto 0 0; padding: 0; text-align: left; vertical-align: top; width: 130px;">
                              <tbody>
                                <tr style="padding: 0; text-align: left; vertical-align: top;">
                                  <td class="fake_audio_container" alt="fake_audio_container" style="-moz-hyphens: none; -webkit-hyphens: none; border-collapse: collapse !important; color: #222222; font-family: Helvetica, Arial, sans-serif; font-size: 14px; font-weight: normal; hyphens: none; line-height: 19px; margin: 0; padding: 0px 0px 5px; text-align: left; vertical-align: top; word-wrap: break-word;">

                                  </td>
                                  <td class="expander" style="-moz-hyphens: none; -webkit-hyphens: none; border-collapse: collapse !important; color: #222222; font-family: Helvetica, Arial, sans-serif; font-size: 14px; font-weight: normal; hyphens: none; line-height: 19px; margin: 0; padding: 0 !important; text-align: left; vertical-align: top; visibility: hidden; width: 0px; word-wrap: break-word;"></td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>

                    <table class="row" style="border-collapse: collapse; border-spacing: 0; display: block; padding: 0px; position: relative; text-align: left; vertical-align: top; width: 100%;">
                      <tbody>
                        <tr style="padding: 0; text-align: left; vertical-align: top;">
                          <td class="wrapper last" style="-moz-hyphens: none; -webkit-hyphens: none; border-collapse: collapse !important; color: #222222; font-family: Helvetica, Arial, sans-serif; font-size: 14px; font-weight: normal; hyphens: none; line-height: 19px; margin: 0; padding: 10px 20px 0px 0px; padding-right: 0px; position: relative; text-align: left; vertical-align: top; word-wrap: break-word;">
                            <table class="twelve columns" style="border-collapse: collapse; border-spacing: 0; margin: 0 auto 0 0; padding: 0; text-align: left; vertical-align: top; width: 580px;">
                              <tbody>
                                <tr style="padding: 0; text-align: left; vertical-align: top;">
                                  <td style="-moz-hyphens: none; -webkit-hyphens: none; border-collapse: collapse !important; color: #222222; font-family: Helvetica, Arial, sans-serif; font-size: 14px; font-weight: normal; hyphens: none; line-height: 19px; margin: 0; padding: 0px 0px 5px; text-align: left; vertical-align: top; word-wrap: break-word;">
                                    <h4 class="transcript-header" style="color: #adadad; font-family: Helvetica, Arial, sans-serif; font-size: 18px; font-weight: normal; line-height: 1.3; margin: 0; padding: 15px 0 10px 0; text-align: left; word-break: normal;">MESSAGE TRANSCRIPTION</h4>
                                    <p class="transcript" style="color: #333333; font-family: Helvetica, Arial, sans-serif; font-size: 15px; font-style: italic; font-weight: normal; line-height: 20px; margin: 0; margin-bottom: 10px; padding: 0; text-align: left;"></p>
                                  </td>
                                  <td class="expander" style="-moz-hyphens: none; -webkit-hyphens: none; border-collapse: collapse !important; color: #222222; font-family: Helvetica, Arial, sans-serif; font-size: 14px; font-weight: normal; hyphens: none; line-height: 19px; margin: 0; padding: 0 !important; text-align: left; vertical-align: top; visibility: hidden; width: 0px; word-wrap: break-word;"></td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <table class="row footer" style="border-collapse: collapse; border-spacing: 0; display: block; margin-top: 70px; padding: 0px; position: relative; text-align: left; vertical-align: top; width: 100%;">
                      <tbody>
                        <tr style="padding: 0; text-align: left; vertical-align: top;">
                          <td class="wrapper last" style="-moz-hyphens: none; -webkit-hyphens: none; border-collapse: collapse !important; color: #222222; font-family: Helvetica, Arial, sans-serif; font-size: 14px; font-weight: normal; hyphens: none; line-height: 19px; margin: 0; padding: 10px 20px 0px 0px; padding-right: 0px; position: relative; text-align: left; vertical-align: top; word-wrap: break-word;">
                            <table class="twelve columns" style="border-collapse: collapse; border-spacing: 0; margin: 0 auto 0 0; padding: 0; text-align: left; vertical-align: top; width: 580px;">
                              <tbody>
                                <tr style="padding: 0; text-align: left; vertical-align: top;">
                                  <td style="-moz-hyphens: none; -webkit-hyphens: none; border-collapse: collapse !important; color: #222222; font-family: Helvetica, Arial, sans-serif; font-size: 14px; font-weight: normal; hyphens: none; line-height: 19px; margin: 0; padding: 0px 0px 5px; text-align: left; vertical-align: top; word-wrap: break-word;">
                                    <hr style="background-color: #d9d9d9; border: none; color: #d9d9d9; height: 1px;">
                                    <p class="footer-text" style="color: #aaaaaa !important; font-family: Helvetica, Arial, sans-serif; font-size: 12px !important; font-weight: normal; line-height: 19px; margin: 0; margin-bottom: 10px; padding: 10px 0; text-align: left;">Created with Peppermint — the easiest way to send a message. <a target="_blank" href="https://peppermint.com" style="color: #aaaaaa !important; font-size: 12px !important; padding: 10px 0;">Try Peppermint.</a></p>
                                  </td>
                                  <td class="expander" style="-moz-hyphens: none; -webkit-hyphens: none; border-collapse: collapse !important; color: #222222; font-family: Helvetica, Arial, sans-serif; font-size: 14px; font-weight: normal; hyphens: none; line-height: 19px; margin: 0; padding: 0 !important; text-align: left; vertical-align: top; visibility: hidden; width: 0px; word-wrap: break-word;"></td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>

                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>

  </div>

