html, body {
    margin: 0;
    padding: 0;
    width: 300px;
    color: #333;
    font-size: 1.05em;
    background-image: url(../img/welcome-bg.png);
    font-family: 'Lato', sans-serif;
}

p {
	font-size: 0.9em;
}

.row {
    margin-top: 15px;
}

