	
	<div id = "peppermint_template_{{RECORDING_ID}}" >

		<span style="color: #222222; font-family: Helvetica, Arial, sans-serif; font-weight: normal; text-align: left; line-height: 19px; font-size: 14px;">
			Here's my message. Click to play
		</span>

		<br>
		<br>

		<div
			class="peppermint_mock_player hidden"
			name="peppermint_mock_player"
			style="
				width: 305px;
			    height: 35px;
			    line-height: 35px;
			    background-color: #6FD5B9;
			    border-radius: 3px;"
		>

			<a
				href="{{LONG_URL}}"
				alt="hidden_long_url"
				style="display: none;"
			>
			</a>
			
			<a
				href="{{SHORT_URL}}"
				align="left"
				style="text-decoration:none;!important"
			>
				<img
					class="player-img"
					style="width: 260px; height: 35px; margin-right: 0; font-size: 21px; color: #fff; line-height: 35px;"
					border="0" align="left" alt="Play Audio Message"
					src="https://s3-us-west-2.amazonaws.com/dev.peppermint.com/img/player.png" 
				>
			</a>

			<span
				style="color: #fff !important; font-family: Helvetica, Arial, sans-serif; font-weight: normal; text-align: left; line-height: 19px; font-size: 14px; margin: 0; padding: 0;"
				align="left"
			>
				{{DURATION}}
			</span>

		</div>

		<audio controls src = '{{OBJECT_URL}}' ></audio>

		<br>

		<span
			style="color: #adadad; font-family: Helvetica, Arial, sans-serif; font-size: 16px;"
		>
			{{TRANSCRIPT_HEADER}}
		</span>

		<br>
		
		<span style="color: #222222; font-family: Helvetica, Arial, sans-serif; line-height: 19px; font-size: 14px;">
			{{TRANSCRIPT}}
		</span>

		<br>
		<br>

		<a
			target="_blank"
			href="https://peppermint.com/reply?name={{SENDER_NAME}}&email={{SENDER_EMAIL}}"
			style="
				text-align: center;
				line-height: 17px;
				display: inline-block;
				width: auto!important;
				border-radius: 3px;
				background: #3abca4;
				margin: 0;
				padding: 8px;
				border: 1px solid #3abca4;
				color: #ffffff;
				text-decoration: none;
				font-weight: bold;
				font-family: Helvetica, Arial, sans-serif;
				font-size: 14px;"
		>
			<img
				style="vertical-align: top" border="0" 
				lign="left"
				src="https://s3-us-west-2.amazonaws.com/dev.peppermint.com/img/btn-email.png"
			>
			Peppermint Quick Reply
		</a>

	</div>