	
	<div id = "peppermint_template_{{RECORDING_ID}}" >

		<span style="color: #222222; font-family: Helvetica, Arial, sans-serif; font-weight: normal; text-align: left; line-height: 19px; font-size: 14px;">
			Here's my message. Click to play
		</span>

		<br>
		<br>

		<table
			class="peppermint_mock_player hidden"
			name="peppermint_mock_player"
			style="
				width: 340px;
			    height: 35px;
			    background-color: #6FD5B9;
				border-collapse: collapse;		
				border-radius: 3px;	    
			    "
		>
			<tr>

				<td style = 'height: 35px; width: 270px;' >
					<a href="{{LONG_URL}}" alt="hidden_long_url" style="display: none;"></a>
					
					<a href="{{SHORT_URL}}" alt="player_url" align="left" style="text-decoration:none;!important">
						<img
							class="player-img"
							style="width: 260px; height: 35px; margin-right: 0; font-size: 21px; color: #fff; line-height: 35px;"
							border="0" align="left" alt="Play Audio Message"
							src="https://s3-us-west-2.amazonaws.com/dev.peppermint.com/img/player.png" 
						>
					</a>

				</td>

				<td
					style="width: 70px;"
					color="#fff"
				>
					<a
						target="_blank"
						href="{{SHORT_URL}}"
						style="
							padding: 0px 8px;
							text-align: center;
							background: #6FD5B9;
							color: #ffffff;
							text-decoration: none;
							font-weight: bold;
							font-family: Helvetica, Arial, sans-serif;
							font-size: 14px;"
					>
						{{DURATION}}&nbsp;&nbsp;
					</a>
				</td>

			</tr>
		</table>

		<audio controls src = '{{OBJECT_URL}}' ></audio>

		<br>

		<span
			style="color: #adadad; font-family: Helvetica, Arial, sans-serif; font-size: 16px;"
		>
			{{TRANSCRIPT_HEADER}}
		</span>

		<br>
		
		<span style="color: #222222; font-family: Helvetica, Arial, sans-serif; line-height: 19px; font-size: 14px; white-space: pre-line;">{{TRANSCRIPT}}</span>

		<br>
		<br>

		<table
			style = 'border-collapse: collapse;'
		>
			<tr>
				<td
					style="
						width: 60px;
						height: 32px;
						border-top-left-radius: 3px;
						border-bottom-left-radius: 3px;
						background: #3abca4;
						text-align: center;
						"
				>
					<a
						target="_blank"
						href="https://peppermint.com/reply?name={{SENDER_NAME}}&email={{SENDER_EMAIL}}"
						style="text-align: center;"
					>
						<img
							style = 'margin-right: 4px;'
							border="0" 
							src="https://s3-us-west-2.amazonaws.com/dev.peppermint.com/img/btn-email.png"
						>
					</a>
				</td>
				<td
					style="
						height: 32px;
						width: 175px;
						border-top-right-radius: 3px;
						border-bottom-right-radius: 3px;
						background: #3abca4;
						text-align: left;
						"
				>
					<a
						target="_blank"
						href="https://peppermint.com/reply?name={{SENDER_NAME}}&email={{SENDER_EMAIL}}"
						style="
							text-align: center;
							color: #ffffff;
							text-decoration: none;
							font-weight: bold;
							font-family: Helvetica, Arial, sans-serif;
							font-size: 14px;"
					>
						Peppermint Quick Reply
					</a>
				</td>
			</tr>
		</table>

	</div>